ansible==4.1.0
ansible-core==2.11.1
appdirs==1.4.4
blinker-herald==0.2.0
boto3==1.18.11
botocore==1.21.11
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
decorator==4.4.2
deepdiff==5.0.1
PyYAML==5.3.1
requests==2.24.0
requestsexceptions==1.4.0
six==1.15.0
stevedore==2.0.1
urllib3==1.25.9
netaddr==0.8.0
pysnow==0.7.17
